body {
    margin:50px auto;
    max-width:650px;
    line-height:1.7;
    font-size: 18px;
    color:rgb(65, 65, 65);
    padding:0 10px;
  }

  footer {
    padding: 10px 0; /* Padding for the top and bottom of the footer */
    text-align: left; /* Center the text */
}